<style>


</style>

<div class="table">
    <div class="table-cell"  >
      <ul class="leader" >
        <div id="decoration"></div>
        <div id="decoration2"></div>
        <div id="decoration3"></div>
        <li *ngFor='let name of this.participants;let i=index' style="background-color:whitesmoke">
          <span class="list_num">{{i+1}}</span>
          <img data-toggle="modal" data-target="#exampleModalCenter" (click)='getTeam(name)'  src="https://lh6.googleusercontent.com/-566ZpvrYxRo/AAAAAAAAAAI/AAAAAAAAAAA/kZk-O1q__A0/s128-c-k/photo.jpg" />
          <h2>{{name}}<span class="number">9,735</span></h2>


          <button (click)='getTeam(name)' type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Launch demo modal
          </button>
          
          <!-- Modal -->
          
        </li>
        
      </ul>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5 *ngFor='let player of this.team'>{{player.name}}</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>


   
      
      <p></p>
      <br/>
      <br/>
    </div>
  </div>
