
<p></p>
<h2 class="text-center"><u>Points Criteria</u></h2>
<p></p>
<div>
<ul class="list-group list-group-flush">
    <li class="list-group-item">1. On every run of a player 1 point will be awarded to participant</li>
    <li class="list-group-item">2. Player Scoring 50+ runs will be awarded 25 points</li>
    <li class="list-group-item">3. Player Scoring 100+ runs will be awarded 50 points.</li>
    <li class="list-group-item">4. On each six 3 points will be awarded</li>
    <li class="list-group-item">5. On each four 2 points will be awarded</li>
    <li class="list-group-item">6. On each wicket 20 points will be awarded</li>
    <li class="list-group-item">7. If a bowler takes 3 or more wickets than 30 points will be awarded</li>
    <li class="list-group-item">8. If a bowler takes 5 or more wickets than 50 points will be awarded</li>
    <li class="list-group-item">9. If a bowler takes 7 or more wickets than 100 points will be awarded</li>
    
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Bonus Points: </b>1) If a player is Man of the Match than 100 points will be awarded </li>
    <li class="list-group-item">2) All of the above points will be x2 if a player is captain </li>
    <li class="list-group-item">Enjoy the game and All The Best</li>
  </ul>
</div>
<p></p>

