<p></p>
 <div class="alert alert-info">
  <strong>Info!</strong> Please see how to play and Please select 4 batsman,4 bowler,1 keeper,2 AllRounder and choose 1 Captain.
</div>
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="login-form">
                   
                        <h2 class="text-center">Add Team</h2>
                        <label for="exampleInputPassword1">Select Team</label>
                <select (change)='get(team.value,type)' class="custom-select custom-select-sm" #team>
                    <option selected>Select Team</option>
                    <option>Islamabad United</option>
                    <option>Peshawar Zalmi</option>
                    <option>Multan Sultans</option>
                    <option>Quetta Gladiators</option>
                    <option>Karachi Kings</option>
                    <option>Lahore Qalandars</option>
                </select>
                     <p></p>
                     <label for="exampleInputPassword1">Select Type</label>
                     <select (change)='getplayername(type.value)' class="custom-select custom-select-sm" id='typ' #type>
                        <option selected>Select Type</option>
                        <option>Batsman</option>
                        <option>Bowler</option>
                        <option>Keeper</option>
                        <option>AllRounder</option>
                    </select>
                        <p></p>
                        <label for="exampleInputPassword1">Select Player</label>
                        <select class="custom-select custom-select-sm" #name>
                            <option *ngFor='let item of this.playersname'>{{item.name}}</option>
                        </select>
                        <div [hidden]='capcheck' class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1" #cap>
                          <label class="form-check-label" for="exampleCheck1">Make Captain</label>
                        </div>
                        <p></p>
                        <button [disabled]='disable' (click)='add(type.value,name.value,cap)' class="btn btn-primary">Add</button>
                
                    </div>
              </div>
              <div class="col">
                  <div class="login-form">
                   
                <form>
                    <h2 class="text-center">Your Team</h2>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Player</th>
                            <th scope="col">Type</th>
                            
                          
                           
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor='let team of this.selectedTeam;let i = index'>
                            <th scope="row">{{i+1}}</th>
                            <td>{{team.name}} {{team.captain}}</td>
    
                            <td>{{team.type}}</td>
                            
                            <td><img (click)='del(i)' style="width:25px;" alt="Responsive image" src='/assets/img/del.png'></td>
                            
                          </tr>
                          </tbody>
                          </table>
                          
                </form>
                <button [disabled]='savedisable' (click)='save()' class="btn btn-primary">Save</button>
                <br/>
                <br/>
            </div>
              </div>
            </div>
            </div>
            <p></p>

           