<p></p>
<div>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Fantasy League is organized by Nazimabad Youth and Sports Area Committee</li>
    
    <li class="list-group-item">For further information and queries please contact <br/>+923463234325 - Rehman Bhaleshah<br/>+923312713435 - Danish Lalani</li>
   
  </ul>

 

    
    <div class="login-form">
    
        
            
                    <form>
                        <h2 class="text-center">Contact Us!</h2>
                        <div class="row row-sm-offset">
                            <div class="col-md-4 multi-horizontal" data-for="name">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="name-form1-4">Name</label>
                                    <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-4">
                                </div>
                            </div>
                            
                            <div class="col-md-4 multi-horizontal" data-for="email">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="email-form1-4">Email</label>
                                    <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-4">
                                </div>
                            </div>
                            
                            <div class="col-md-4 multi-horizontal" data-for="phone">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-4">Phone</label>
                                    <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-4">
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group" data-for="message">
                            <label class="form-control-label mbr-fonts-style display-7" for="message-form1-4">Message</label>
                            <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-4"></textarea>
                        </div>
            
                        <div class="form-group">
                            <button type="submit" (click)='call()' class="btn btn-success btn-block login-btn">Send</button>
                        </div>
                    </form>
            </div>
        </div>


<p></p>
